1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
* --> expression
'Hello' --> string
-87.8 --> float
-,/,+ -->expression
6 --> integer

2. What is the difference between string and variable?

 string --> string is a datatype
 variable --> variable are used to store the data type

3.Describe three different data types.
string -- > string is a data type which is enclosed between 'single quotes' or "double quotes" string are non mutable datatype
List --> list is a datatype which is enclosed between square brackets[], list are mutable datatype
tupple --> list is a datatype which is enclosed between (), tupple are non mutable data type

4. What is an expression made up of? What do all expressions do?
an expression is made up of operation and opearand 
expression are used perform a particular task

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expression are the operations to perform a particular task 
statement are set of function which are created to perform a particular task

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

-->22

In [1]:
bacon =22
bacon+1

23

In [2]:
bacon

22

#7. What should the values of the following two terms be?

'spam'+ 'spamspam' --> spamspamspam
'spam'*3 --> spamspamspam

In [3]:
'spam'+ 'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
variable is havving a set of rules in which variable can alpabets or alphanumeric 
variable will not contain excepts any special characters except _
variable should not start with numeric
hence considering above rules 100 is invalid variable

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
int()
float()
str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

this expression gives error because string cannot concatenate with integer so 99 should be converted to string before conactating

In [7]:
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'